{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item" style="width: 100%; max-width: 1200px; margin: 0 auto;">
  <div class="archive__item-content" style="display: flex !important; flex-direction: row !important; align-items: flex-start !important; width: 100% !important; max-width: 1200px !important;">
    <div class="archive__item-teaser" style="flex: 0 0 40%; margin-right: 20px;">
      {% if post.youtube_id %}
        <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
          <iframe 
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
            src="https://www.youtube.com/embed/{{ post.youtube_id }}" 
            frameborder="0" 
            allow="autoplay; encrypted-media" 
            allowfullscreen>
          </iframe>
        </div>
      {% else %}
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="" style="width: 100%; height: auto;">
      {% endif %}
    </div>
    <div style="flex: 1; display: flex; flex-direction: column;">
      <h2 class="archive__item-title" itemprop="headline" style="font-size: 1.0em; text-decoration: none; order: -1; margin-top: 0; color: black;">
        {{ title }}
      </h2>

      {% if post.date %}
        <p class="page__meta" style="margin-top: 0.2em; margin-bottom: 0.2em; font-size: 0.8em;">
          <i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}
        </p>
      {% endif %}

      {% if post.venue %}
        <p class="archive__item-excerpt" style="margin-top: 0.2em; margin-bottom: 0.2em; font-size: 0.9em;">
          {{post.type}}, {{ post.venue }}, {{post.location}}
        </p>
      {% endif %}

      {% if post.excerpt %}
        <p class="archive__item-excerpt" itemprop="description" style="margin-top: 0.2em; margin-bottom: 0.2em; font-size: 0.9em;">
          {{ post.excerpt | markdownify | strip_html | truncate: 160 }}
        </p>
      {% endif %}

      {% if post.talk_url %}
        <p style="margin-top: 0.2em; margin-bottom: 0.2em; font-size: 0.8em;">
          <a href="{{ post.talk_url }}" style="text-decoration: none;">[More Info]</a>
        </p>
      {% endif %}
    </div>
  </div>
</div>
